<h1>Templates Project</h1>
<h3>Select guest</h3>
<select id="guest-select" [(ngModel)]="selectedGuest">
  <option *ngFor="let guest of guests" [ngValue]="guest">{{guest.firstName}}</option>
</select>

<ul *ngIf="selectedGuest">
  <li><span>First name (firstName):</span> {{selectedGuest.firstName}}</li>
  <li><span>Last name (lastName):</span> {{selectedGuest.lastName}}</li>
  <li><span>Room number (roomNumber):</span> {{selectedGuest.reservation.roomNumber}}</li>
  <li><span>Start timestamp (startTimestamp):</span> {{selectedGuest.reservation.startTimestamp}}</li>
  <li><span>End timestamp (endTimestamp):</span> {{selectedGuest.reservation.endTimestamp}}</li>
</ul>

<h3>Select company</h3>
<select id="company-select" [(ngModel)]="selectedCompany">
  <option *ngFor="let company of companies" [ngValue]="company">{{company.company}}</option>
</select>

<ul *ngIf="selectedCompany">
  <li><span>Company name (company):</span> {{selectedCompany.company}}</li>
  <li><span>City (city):</span> {{selectedCompany.city}}</li>
  <li><span>Timezone (timezone):</span> {{selectedCompany.timezone}}</li>
</ul>


<h3>Extra variables</h3>
<ul>
  <li>Greeting (greeting): Good morning/Good afternoon/Good evening. Based on time of day</li>
</ul>

<div id="templateSelect">
  <div id="buttons">
    <button class="templateBtn" *ngFor="let template of templates, let i = index"
            (click)="selectedTemplate = template">
      {{template.label || "Template #" + (i + 1)}}
    </button>
  </div>
  <textarea *ngIf="selectedTemplate" id="templateEdit" [(ngModel)]="selectedTemplate.html"></textarea>
  <button (click)="submit()">Submit</button>
  <button (click)="delete(selectedTemplate)">Delete</button>
</div>

<button (click)="createTemplate()">+ Create New</button>


<template-output [guest]="selectedGuest" [company]="selectedCompany" [template]="selectedTemplate"></template-output>
